//                               █         █    █            ▄▄▄▀▀▀▀▀▀▄▄▄        █▀▀▀▀▀▀▀▀▀▀█
//                               █        █     █          ▄▀            ▀▄      █          █
//                               █       █      █        ▄▀                ▀▄    █          █
//                               █      █       █        █                  █    █          █
//                               █     █        █       █                    █   █          █
//                               █    █         █       █                    █   █▄▄▄▄▄▄▄▄▄▄█
//                               █   █ █        █       █                    █   █      █
//                               █  █   █       █        █                  █    █       █
//                               █ █     █      █        ▀▄                ▄▀    █        █
//                               ██       █     █          ▀▄            ▄▀      █         █
//                               █         █    █▄▄▄▄▄▄▄▄    ▀▀▀▄▄▄▄▄▄▀▀▀        █          █
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE   0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
        mode_tap: mode_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MODE_TAP";
            bindings =
                <&mo>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        sys_reset {
            bindings = <&sys_reset>;
            key-positions = <10 22>;
            layers = <1 3 2 4 5>;
        };

        bootloader {
            bindings = <&bootloader>;
            key-positions = <11 23>;
            layers = <1 3 2 4 5>;
        };

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <12 24>;
            layers = <1 3 2 4 5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┌───────────────────────────────────────────────────────────┐

            label = "BASE";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │    Q    │    W    │    F    │    P    │    G    │                    │    J    │    L    │    U    │    Y    │    ;    │   
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │   TAB   │    A    │    R    │    S    │    T    │    D    │                    │    H    │    N    │    E    │    I    │    O    │    "    │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │   DEL   │    Z    │    X    │    C    │    V    │    B    ││  MUTE  ││PLY/PSE ││    K    │    M    │    ,    │    .    │    /    │    \    │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │  CTRL   │  LOWER  │  SPACE  │   ALT   ││ CMD/WIN │  ENTER  │  RAISE  │  BSPCE  │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
                      &kp Q           &kp W        &kp F             &kp P            &kp B                                                 &kp J                  &kp L        &kp U            &kp Y    &kp SQT
&hm LEFT_META ESCAPE  &kp A  &hm LEFT_ALT R  &hm LCTRL S  &hm LEFT_SHIFT T            &kp G                                                 &kp M           &hm RSHIFT N  &hm RCTRL E  &hm RIGHT_ALT I      &kp O      &kp SLASH
             &kp TAB  &kp Z           &kp X        &kp C             &kp D            &kp V      &kp KP_N0               &none              &kp K                  &kp H    &kp COMMA          &kp DOT  &kp COLON  &kp BACKSLASH
                                               &kp LSHFT         &kp SPACE  &mode_tap 1 TAB  &kp LEFT_META  &mode_tap 4 DELETE  &mode_tap 2 ENTER  &mode_tap 3 BACKSPACE    &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        navigation {
            bindings = <
                      &none         &none      &none      &none  &none                          &kp K_REDO    &kp K_PASTE  &kp K_COPY      &kp K_CUT  &kp K_UNDO
&hm LEFT_META ESCAPE  &none  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT  &none                               &none       &kp LEFT    &kp DOWN   &kp UP_ARROW   &kp RIGHT  &none
               &none  &none         &none      &none      &none  &none  &kp KP_NUMBER_1  &none  &kp INSERT       &kp HOME   &kp PG_UP  &kp PAGE_DOWN     &kp END  &none
                                           &kp LSHFT      &none  &mo 1    &kp LEFT_META  &none   &kp ENTER  &kp BACKSPACE  &kp DELETE
            >;

            label = "NAV";
        };

        numbers {
            bindings = <
               &kp GRAVE  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9      &kp MINUS                               &none      &none      &none          &none  &none
  &kp SQT  &kp SEMICOLON  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6      &kp EQUAL                        &kp NUMBER_0  &kp RSHFT  &kp RCTRL  &kp RIGHT_ALT  &none  &none
&kp COMMA     &kp PERIOD  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp ASTRK      &kp KP_N2  &none         &none      &none      &none          &none  &none  &none
                                           &kp LSHFT     &kp SLASH  &kp BACKSLASH  &kp LEFT_META  &none         &mo 2      &mo 3      &none
            >;

            label = "NUM";
        };

        symbols {
            // ┌───────────────────────────────────────────────────────────┐

            label = "SYM";

            // └───────────────────────────────────────────────────────────┘
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             │         │         │         │         │         │                    │         │         │         │         │         │
   ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
   │         │         │         │         │         │         │                    │         │         │         │         │         │         │
   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
   │         │         │         │         │         │         ││        ││        ││         │         │         │         │         │         │
   └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                 │         │         │         │         ││         │         │         │         │  
                                 └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */

            bindings = <
                      &kp TILDE    &kp AMPERSAND  &kp ASTERISK  &kp BACKSLASH      &kp LEFT_BRACKET                              &kp RIGHT_BRACKET      &none              &none     &none  &none
      &kp DQT         &kp COLON       &kp DOLLAR   &kp PERCENT      &kp CARET        &kp LEFT_BRACE                                &kp RIGHT_BRACE  &kp RSHFT  &kp RIGHT_CONTROL  &kp RALT  &none  &none
&kp LESS_THAN  &kp GREATER_THAN  &kp EXCLAMATION   &kp AT_SIGN       &kp HASH  &kp LEFT_PARENTHESIS  &kp KP_NUMBER_3  &none  &kp RIGHT_PARENTHESIS      &none              &none     &none  &none  &none
                                                     &kp LSHFT       &kp FSLH         &kp BACKSLASH    &kp LEFT_META  &none                  &none      &mo 3              &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fun {
            bindings = <
                      &kp F15  &kp F7        &kp F8     &kp F9          &kp F16                    &kp F12      &none              &none          &none  &none
        &kp C_BRI_UP  &kp F14  &kp F4        &kp F5     &kp F6     &kp CAPSLOCK                    &kp F11  &kp RSHFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &none  &none
&kp C_BRIGHTNESS_DEC  &kp F13  &kp F1        &kp F2     &kp F3  &kp PRINTSCREEN  &kp KP_N4  &none  &kp F10      &none              &none          &none  &none  &none
                                       &kp LEFT_ALT  &kp SPACE          &kp TAB      &mo 5  &mo 4    &none      &none              &none
            >;

            label = "FUN";
        };

        admin {
            bindings = <
                      &bootloader    &bt BT_PRV    &bt BT_CLR    &bt BT_NXT  &none                    &none  &none  &none  &none  &bootloader
&hm LEFT_META ESCAPE        &none  &bt BT_SEL 3  &bt BT_SEL 4         &none  &none                    &none  &none  &none  &none        &none  &none
               &none        &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none  &kp KP_N5  &none  &none  &none  &none  &none        &none  &none
                                                        &none         &none  &none      &mo 5  &none  &none  &none  &none
            >;

            label = "ADMIN";
        };
    };
};
